.container-max-width {
  max-width: 1280px;
}
.pt-xsm {
  padding-top: 8px !important;
}
.px-std {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.pb-xxl {
  padding-bottom: 32px !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.px-md-lg {
  padding-right: 24px !important;
  padding-left: 24px !important;
}
.pt-md-xxl {
  padding-top: 32px !important;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row {
  margin-right: -8px;
  margin-left: -8px;
}
body {
  background: #fff;
}
