.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.col-lg-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333333%;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 31.33333333%;
  max-width: 32.33333333%;
}
.mb-lg {
  margin-bottom: 24px !important;
}
.mb-lg-0 {
  margin-bottom: 0 !important;
}
.css-1vl67hm {
  display: initial;
}
.mt-xsm {
  margin-top: 8px !important;
}
.css-15dnu4o {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
.col-sm-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.css-4w4zia {
  cursor: pointer;
  -webkit-transition: box-shadow 240ms cubic-bezier(0.2, 0, 0.38, 0.9);
  transition: box-shadow 240ms cubic-bezier(0.2, 0, 0.38, 0.9);
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px #c4c7cc;
  height: 100%;
}
.css-4w4zia {
  max-width: 368px;
}
.d-lg-block {
  display: block !important;
}
.p-std {
  padding: 16px !important;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.mb-xsm {
  margin-bottom: 8px !important;
}
.css-1k2lqp9 {
  width: 56px;
  height: 56px;
}
.css-1k2lqp9 svg {
  width: 56px;
  height: 56px;
}

constructed stylesheet .align-self-start {
  -webkit-align-self: flex-start !important;
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}
.css-171gp5j svg {
  height: 32px;
  width: 32px;
  visibility: hidden;
}
.css-17vthrg {
  font-weight: 900;
  word-break: break-word;
}
.mr-xsm {
  margin-right: 8px !important;
}
.css-25qyin {
  width: 24px;
  height: 24px;
}
.css-25qyin svg {
  width: 24px;
  height: 24px;
}
