.pageContentWrapperStudent #PageContent {
  position: initial;
}
.gdGrid .mx-md-std {
  margin-right: 16px !important;
  margin-left: 16px !important;
}
div {
  line-height: 15px;
}
.css-1mzux4t {
  width: 100%;
  font-family: Lato;
  font-size: 15px;
  line-height: 24px;
  color: #505863;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 3px;
  border: solid 1px #dee0e3;
  box-shadow: 0 0 2px 0 #c4c7cc;
  background-color: #fff;
  box-sizing: border-box;
}
#SalarySearchResults h1 {
  margin-bottom: 12px;
}
.css-1gjvczy {
  font-family: 'Lato';
  font-size: 15px;
  line-height: 24px;
  color: #505863;
  padding: 12px 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #e6f8ff;
  border-top: 3px solid #2aabde;
}
.css-l8rlna {
  border-bottom: 1px solid #c4c7cc;
}
.gdGrid .py-std {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.gdGrid .col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
.gdGrid .pl-0 {
  padding-left: 0 !important;
}
.css-1hwaofw img {
  border: 1px solid #c4c7cc;
  padding: 2px;
}
.css-1hwaofw img,
.css-1hwaofw svg {
  height: 50px;
  width: 50px;
}

#salaryCardFlex {
  display: flex !important;
}
