#JobView {
  margin-top: 16px;
}
.css-1snhjc9 {
  background-color: #fff;
  margin-bottom: 0;
  min-height: 60px;
  position: relative;
}
.css-13kzq25 {
  background: white;
  display: flex;
  padding: 16px;
}
.css-13kzq25 > * {
  flex: 1 1 0px;
  width: auto;
}
.css-13kzq25 .smarterBannerEmpInfo {
  background-color: white;
}
.css-29jl6 {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8;
}
.css-f4rs18 {
  display: table-cell;
  vertical-align: top;
  float: none !important;
}
.css-7xi6we {
  padding-right: 16px;
}
.css-13u5hxa {
  background: #fff none;
  border: 1px solid #dee0e3;
  box-sizing: border-box;
  display: inline-block;
  line-height: 0;
  padding: 2px;
  position: relative;
}
.css-13u5hxa img {
  height: 70px;
  width: 70px;
}
.css-1e169oc {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.css-ur1szg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.css-16nw49e {
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.33;
}
.css-1pmc6te {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0caa41;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  top: -1px;
  position: relative;
}
.css-mfns2c {
  color: #0caa41;
  font-size: 9px;
  margin-left: 2px;
}
.css-17x2pwl {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.css-1yurns8 {
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.css-1niemjw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-1m0gkmt:link,
.css-1m0gkmt:visited {
  color: #fff;
}
.css-1m0gkmt {
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: transparent;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  display: inline-block;
  line-height: 1.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-family: 'Lato';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 88px;
  color: #fff;
  background-color: #1861bf;
  padding: 7px 16px;
}
.css-3nnrip {
  padding-left: 16px;
  position: relative;
}
.css-3nnrip .save-job-button {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-3nnrip button.save-job-button {
  height: 40px;
  line-height: 18px;
  padding: 10px 16px;
}
.css-15asexb {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
  overflow-x: auto;
  display: flex;
  font-size: 16px;
}
.css-15asexb * {
  line-height: 24px;
  min-width: 0px;
}
.css-u9c4ai {
  margin: 16px;
  flex: 1 0 250px;
  border-radius: 6px;
}
.css-15asexb > :first-child {
  margin-right: 24px;
}
.css-fdajvm {
  font-weight: 900;
}
.css-qiuq2n {
  width: 100%;
  height: 1px;
  margin: 8px 0px;
  background-color: rgb(222, 224, 227);
}
.css-1hb8zec {
  display: flex;
  flex-direction: row;
}
.css-1hb8zec > * {
  flex: 1 0 1px;
}
.css-1ieo3ql {
  margin-right: 16px;
  white-space: nowrap;
  display: flex;
}
.css-1ieo3ql:first-child {
  margin-bottom: 4px;
}
.css-1ieo3ql > * {
  flex-shrink: 0;
}
.css-1vg6q84 {
  font-weight: 700;
}
.css-jfggi0 {
  background: white;
}
.gdGrid .p-std {
  padding: 16px !important;
}
