.indeed-apply-popup {
  max-height: 70%;
  overflow-y: scroll;
}
#indeed-ia-1603926871266-0-modal,
#indeed-ia-1603926871266-1-modal,
#indeed-ia-1603926871266-2-modal,
#indeed-ia-1603926871266-3-modal,
#indeedapply-modal-preload-1603926871267 {
  background: #fff !important;
  border: 1px solid #000 !important;
  color: #000 !important;
  position: absolute !important;
  outline: none !important;
  z-index: 10001 !important;
  -webkit-transition: top 0.3s ease 0s;
  -moz-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  -ms-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  -o-transition-property: top, left;
  -ms-transition-property: top, left;
  transition-property: top, left;
}
#indeed-ia-1603926871266-2-modal-container,
#indeed-ia-1603926871266-3-modal-container,
#indeedapply-modal-preload-1603926871267-container {
  margin: 4px !important;
  overflow: hidden !important;
  _overflow: visible !important;
  zoom: 1 !important;
  background-color: #fff !important;
  width: 540px;
  height: 590px;
}
#indeed-ia-1603926871266-0-modal-branding,
#indeed-ia-1603926871266-1-modal-branding,
#indeed-ia-1603926871266-2-modal-branding,
#indeed-ia-1603926871266-3-modal-branding,
#indeedapply-modal-preload-1603926871267-branding {
  height: 100% !important;
  float: left !important;
  width: 150px !important;
  background: url(https://d3fw5vlhllyvee.cloudfront.net/indeedapply/s/162956a/indeedapply_vertical_ALL.png)
    center center no-repeat !important;
  display: none !important;
}

#indeed-ia-1603926871266-0-modal-bd,
#indeed-ia-1603926871266-1-modal-bd,
#indeed-ia-1603926871266-2-modal-bd,
#indeed-ia-1603926871266-3-modal-bd,
#indeedapply-modal-preload-1603926871267-bd {
  height: 100% !important;
  width: auto !important;
  overflow: hidden !important;
  _overflow: visible !important;
  zoom: 1 !important;
}
*,
.ia-DropdownDatePicker-label,
.ia-DropdownDatePicker-label,
.ia-FilePicker-label,
.ia-FormActionButtons button#form-action-continue,
.ia-HierarchicalSelect-label,
.ia-MultipleFileInput,
.ia-MultipleFileInput-label,
.ia-NativeDatePicker-label,
.ia-PrefillableTextarea-clearLink,
.ia-PrefillableTextarea-label,
.ia-PrefillableTextarea-linkLabel,
.ia-TextareaClearable-label,
.icl-Checkbox-label,
.icl-Checkbox-legend,
.icl-Radio-legend,
.icl-Radio-legend,
.icl-Select-label .icl-Textarea-label,
.icl-TextInput-control,
.icl-TextInput-control--sm,
.icl-TextInput-helpText,
.icl-TextInput-label,
.icl-TextInput-label,
.icl-TextInput-label--sm,
.icl-TextInput-label--sm,
.icl-TextareaClearable-control,
.icl-TextareaClearable-label,
.icl-u-textSize6,
.icl-u-textSize6.icl-u-textColor--secondary.icl-u-xs-mb--sm,
.icl-u-textSize7,
button,
button.icl-Button.icl-Button--transparent.icl-Button--sm.ia-AddCoverLetter-button,
html,
input,
input#ia-FilePicker-resume,
select,
textarea {
  font-family: 'Lato', sans-serif !important;
}
body {
  background: #ececec;
  line-height: 1.5;
  overscroll-behavior-y: none;
}
body.is-white {
  background: #fff;
}
div#ia-ApplyFormScreen {
  padding: 1rem 0;
}
.ia-JobInfoHeader {
  border-bottom: 1px solid #c4c7cc;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem;
}
.ia-JobInfoHeader {
  color: #20262e;
}

.ia-JobInfoHeader-headerContainer {
  display: inline-block;
  vertical-align: middle;
}
.ia-JobInfoHeader-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: 0;
}
.ia-JobInfoHeader-title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem !important;
  font-weight: bold !important;
}
.ia-JobInfoHeader-subtitle {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}
.ia-JobInfoHeader-headerContainer .ia-JobInfoHeader-subtitle {
  font-size: 15px !important;
  font-weight: normal;
}
.ia-JobInfoHeader-multilineSubtitle {
  width: 100%;
  margin-top: 0.25rem;
}
.ia-JobInfoHeader h2.ia-JobInfoHeader-multilineSubtitle {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  letter-spacing: 0;
}
.ia-ApplyFormScreen-userFields {
  padding: 0 1rem;
}
.ia-UserFields-fragment {
  margin: 0;
  padding: 0;
}
.icl-u-textColor--secondary {
  color: #6f6f6f;
}
.icl-u-xs-mb--sm {
  margin-bottom: 0.5rem;
}
.icl-u-textColor--secondary {
  color: #4b4b4b;
}
.icl-u-textSize6 {
  font-size: 0.75rem;
  line-height: 1.34;
}
.icl-u-textSize6,
.icl-u-textSize7 {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
}
.icl-u-textColor--secondary {
  color: #6f6f6f !important;
}
[dir='ltr'] .icl-u-textColor--secondary,
[dir='rtl'] .icl-u-textColor--secondary {
  color: #6f6f6f !important;
}
.icl-u-textSize6.icl-u-textColor--secondary.icl-u-xs-mb--sm {
  font-size: 12px !important;
  color: #4b4b4b !important;
}
.UserField-Email,
.UserField-Name,
.ia-InformationScreenerQuestion,
.ia-MultipleFileInput,
.ia-MultiselectScreenerQuestion,
.ia-SelectScreenerQuestion,
.ia-TextInput,
.ia-TextScreenerQuestion,
.ia-TextareaScreenerQuestion,
.icl-TextInput,
.icl-u-textSize6.icl-u-textColor--secondary.icl-u-xs-mb--sm {
  margin-bottom: 1rem;
}
.ia-UserFields-secondary .icl-u-textSize6.icl-u-textColor--secondary.icl-u-xs-mb--sm {
  color: #20262e !important;
}
.ia-ResumePreviewWithInputFields-container {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.ia-ResumePreviewWithInputFields-container {
  border: 1px solid #c4c7cc !important;
}
.ia-ResumePreviewWithInputFields-inputFields {
  padding: 0.45rem;
}
.icl-TextInput {
  margin-bottom: 8px !important;
}

[dir] .icl-TextInput-labelWrapper {
  margin-bottom: 4px !important;
}

.icl-TextInput-control,
.icl-TextInput-errorText,
.icl-TextInput-helpText,
.icl-TextInput-icon,
.icl-TextInput-label,
.icl-TextInput-labelWrapper,
.icl-TextInput-wrapper {
  box-sizing: border-box;
}
.ia-NativeDatePicker-label,
.icl-TextInput-label {
  color: #4b4b4b;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.43;
  display: block;
}
.ia-DropdownDatePicker-label,
.icl-TextInput-label {
  color: #4b4b4b;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.43;
  display: block;
}
.icl-TextInput-label--sm {
  font-weight: 700;
}
.icl-TextInput-helpText,
.icl-TextInput-label--sm {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.67;
}
.icl-TextInput-control,
.icl-TextInput-errorText,
.icl-TextInput-helpText,
.icl-TextInput-icon,
.icl-TextInput-label,
.icl-TextInput-labelWrapper,
.icl-TextInput-wrapper {
  box-sizing: border-box;
}
.icl-TextInput-label {
  color: #4b4b4b;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.43;
  display: block;
}
.icl-TextInput-label--sm {
  font-weight: 700;
}
.icl-TextInput-helpText,
.icl-TextInput-label--sm {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.67;
}
.icl-TextInput-helpText,
.icl-TextInput-label--sm {
  font-size: 14px !important;
}
.ia-ResumePreviewWithInputFields-container .icl-TextInput-label {
  margin-bottom: 0.5rem;
}
.ia-ApplyFormScreen-userFields .icl-TextareaClearable-label,
.ia-ApplyFormScreen-userFields label.ia-FilePicker-label,
.ia-ApplyFormScreen-userFields label.icl-TextInput-label,
.ia-ApplyFormScreen-userFields label.icl-Select-label,
.ia-ApplyFormScreen-userFields .ia-LocationFields-changeCountryLabel {
  font-weight: normal;
  font-size: 0.75rem !important;
  color: #505863 !important;
  font-family: 'Lato', sans-serif;
}

.icl-TextInput-wrapper {
  position: relative;
}

.icl-TextInput-control {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.72;
  color: #4b4b4b;
  outline: none;
  width: 100%;
  min-width: 7rem;
  outline-offset: 0;
}
.icl-TextInput-control--sm {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.34;
}
.icl-TextInput-control {
  border-radius: 0.25rem;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 0.5rem 1rem;
}
.icl-Textarea-control,
.icl-Select-control,
.icl-TextInput-wrapper .icl-TextInput-control,
.icl-TextareaClearable-wrapper {
  border: 1px solid #c4c7cc !important;
  font-size: 1rem !important;
  color: #505863;
  font-weight: normal;
  padding: 0.5rem 0.8rem !important;
}
.ia-FilePicker {
  margin: 0;
}
.ia-ApplyFormScreen .ia-AddCoverLetter,
.ia-ApplyFormScreen .ia-FilePicker,
.ia-ApplyFormScreen .ia-MultipleFileInput,
.ia-ApplyFormScreen .ia-AutocompleteTextInput-root {
  margin-bottom: 1rem !important;
}
.ia-FilePicker-label {
  color: #4b4b4b;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 4px;
}
.ia-UserFieldLabel {
  display: flex;
}
.ia-FilePicker-inputContainer {
  position: relative;
}
.ia-ControlledFilePicker {
  display: block;
  flex-direction: row;
  align-items: center;
}
.ia-ControlledFilePicker--integrated {
  display: block;
  width: 100%;
}
.ia-ControlledFilePicker {
  display: flex;
}
.ia-ControlledFilePicker {
  display: flex;
}
.icl-u-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ia-ControlledFilePicker-fakeControl,
.icl-Button,
.icl-Button--lg {
  padding: 1rem 1.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.38;
  line-height: 1.125rem;
}
.ia-ControlledFilePicker-fakeControl,
.ia-ControlledFilePicker-fakeControl--integrated,
.icl-Button--md {
  padding: 0.5rem 1.5rem;
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.43;
  line-height: 1.5rem;
}

.ia-ControlledFilePicker-fakeControl,
.icl-Button,
.icl-Button--primary {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: #085ff7;
  border: 0.125rem solid #085ff7;
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
}
.ia-ControlledFilePicker-fakeControl,
.icl-Button--secondary {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  color: #085ff7;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 0.125rem solid #085ff7;
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
}
.ia-ControlledFilePicker-fakeControl,
.icl-Button--block {
  display: block;
  width: 100%;
  max-width: 21.9375rem;
  margin-left: auto;
  margin-right: auto;
}
.ia-ControlledFilePicker-fakeControl {
  margin: 3px 0 8px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  min-width: 140px;
  max-width: 100%;
}
.ia-ControlledFilePicker-fakeControl--integrated {
  margin: 3px 0 !important;
}
.ia-ControlledFilePicker-fakeControl {
  width: auto;
  padding: 3px 2rem;
}
label.ia-ControlledFilePicker-fakeControl {
  border: 1px solid #1861bf !important;
  border-radius: 3px !important;
  padding: 0.4rem 1rem !important;
  height: 40px !important;
  color: #1861bf !important;
  font-weight: 600;
  font-size: 15px;
  min-width: 120px;
  max-width: 120px;
  margin: 3px 8px 0 0 !important;
}
.ia-ControlledFilePicker-info {
  margin-right: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  color: #666;
}
.ia-ControlledFilePicker-info {
  margin: 1rem 0.5rem;
  max-width: 295px;
}
.ia-ControlledFilePicker-info {
  font-size: 12px;
  color: #20262e;
  font-weight: normal;
  margin: 0.5rem 0.25rem;
}
.icl-u-xs-my--sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
[dir='ltr'] .icl-u-textColor--secondary,
[dir='rtl'] .icl-u-textColor--secondary {
  color: #6f6f6f !important;
}
.icl-u-textSize6.icl-u-textColor--secondary.icl-u-xs-my--sm {
  font-size: 14px !important;
  color: #4b4b4b;
  margin-bottom: 8px !important;
}
.ia-AddCoverLetter {
  margin: 0;
  padding: 0;
}
.icl-Button--sm {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.34;
  line-height: 1.5rem;
}
.icl-Button--transparent {
  box-sizing: border-box;
  display: inline-block;
  color: #085ff7;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icl-Button--transparent {
  margin: 0;
  text-align: center;
  background-color: transparent;
  border: 0.125rem solid transparent;
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  cursor: pointer;
}
.ia-AddCoverLetter-button.icl-Button--transparent.icl-Button--sm.icl-Button {
  font-size: 0.875rem;
  font-weight: 700;
  color: blue;
  padding: 0 16px 4px 6px;
  margin-top: 0;
  margin-bottom: 0;
}
button.icl-Button.icl-Button--transparent.icl-Button--sm.ia-AddCoverLetter-button {
  color: #1861bf !important;
  padding-left: 0 !important;
}
.icl-ButtonIcon {
  box-sizing: border-box;
  position: relative;
  top: -2px;
}
span.icl-ButtonIcon {
  margin: 0 !important;
}
.ia-AddCoverLetter-button .icl-ButtonIcon {
  right: 0.2rem;
}
.icl-Icon {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  width: 3rem;
}
.icl-Icon--sm {
  height: 1.125rem;
  width: 1.125rem;
}
.icl-Icon--inheritColor {
  fill: currentColor;
}
.ia-FilePicker + .icl-u-textSize6 .icl-u-textColor--secondary .icl-u-xs-my--sm,
.ia-PhoneDisclaimer-infoIconCell,
.ia-PreviewSection-header
  button.icl-Button.icl-Button--transparent.icl-Button--md.ia-SectionEditLink
  .icl-ButtonIcon,
button.icl-Button.icl-Button--transparent.icl-Button--sm.ia-AddCoverLetter-button svg.icl-Icon,
hr.ia-AddCoverLetter-line {
  display: none;
}
.icl-Button,
.icl-Button--lg {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.38;
  line-height: 1.125rem;
}
.icl-Button,
.icl-Button--primary {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icl-Button,
[dir] .icl-Button--primary {
  margin: 0;
  text-align: center;
  background-color: #085ff7;
  border: 0.125rem solid #085ff7;
  border-radius: 6.25rem;
  background-repeat: repeat-x;
  cursor: pointer;
}

.icl-Button--primary:active,
.icl-Button--primary:focus,
.icl-Button--primary:hover,
.icl-Button:active,
.icl-Button:focus,
.icl-Button:hover {
  color: #fff;
  text-decoration: none;
}
button#form-action-continue {
  min-width: 188px !important;
  max-height: 44px !important;
  min-height: 44px !important;
  padding: 0 !important;
  margin-top: 0 !important;
}
.ia-FormActionButtons button#form-action-continue,
.ia-FormActionButtons button#form-action-submit {
  border: none;
  border-radius: 3px;
  background-color: #1861bf;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 188px;
  height: 40px;
  min-height: 40px !important;
  max-height: 40px !important;
  line-height: 0;
}
.ia-FormActionButtons button#form-action-continue:hover,
button#form-action-submit:hover {
  color: #fff;
  background-color: #1d4f90;
  -webkit-transition: background-color 0.25s cubic-bezier(0, 0.9, 0.5, 1);
  transition: background-color 0.25s cubic-bezier(0, 0.9, 0.5, 1);
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  z-index: 0;
  overflow: hidden;
}
.icl-u-xs-ml--md {
  margin-left: 1rem;
}
.ia-ApplyFormScreen a,
.ia-ApplyFormScreen a:visited {
  color: #1861bf !important;
  font-weight: 500 !important;
}
a#form-action-cancel {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #c4c7cc;
  border-radius: 3px;
  padding: 0 3rem;
  max-height: 40px !important;
  min-height: 40px !important;
  color: #505863 !important;
  font-size: 15px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  vertical-align: top;
}
a#form-action-cancel:active,
a#form-action-cancel:focus,
a#form-action-cancel:hover,
a#form-action-cancel:visited {
  text-decoration: none !important;
}
.ia-ApplyFormScreen a#form-action-cancel:visited {
  color: #505863 !important;
}
