.css-15w2ie1 {
  border: 0;
  background: none;
  max-width: 50%;
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.css-15w2ie1 img {
  width: 212px;
}
.css-1rvdm42 {
  height: auto;
  width: 100%;
  text-align: center;
}
